/* Need to do something about this to avoid columns resizing with each hide/show alternation wrt the metric/imperial units toggle */
#tdWindSpeed span, #tdTemp span{}


/* START toggle switch */
/* https://hudecz.medium.com/how-to-create-a-pure-css-toggle-button-2fcc955a8984 */

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
  }
  .toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    /* left: 50%; */
    border-radius:20px;
    background: white;
    transition: all 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer::before {
     left: 50%;
  }
  .toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: white;
    transition: color 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #343434;
    
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color: #343434;
    /* color: white; */
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    color: white;
    /* color: #343434; */
    transition: color 0.3s;
  }

/* END toggle switch */




  /* CSS Animation onClick */
  /* https://stackoverflow.com/a/58353279/9095603 */

  @-webkit-keyframes flash {
    50% { color: #ff8500; background:blue; }
 
}
.flash {
    
    -webkit-animation-name: flash;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}   





